name: test

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
    paths:
    - '**.go'
    - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.16.x'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: go test -v -race ./...
